<%- include('../layouts/headers.ejs'); %>
    <div class="content">
    <p> Hello <%= name %>!</p>
    <p>Welcome to ADNS-Test, <br>
        <p style="text-align: center;"><strong><%= link %></strong></p>
        <p>Thank you and once again welcome to Stream Eats!</p>
        <p>The Team</p>
    </div>
<%- include('../layouts/footers.ejs'); %>