<%= include('../layouts/headers.ejs'); %>
    <div class="content">
    <p> Hello <%= variables.name %>!</p>
        <p>Yoy!!, you just created a <%= variables.wallet %> wallets</p>
        <p>The Team</p>
    </div>
<%- include('../layouts/footers.ejs'); %>
