<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        body {padding: 0px;margin: 0px;font-size: 18px;line-height: 29.7px;font-family: 'Bw Modelica';font-weight: 500;}
        .container {width: 100%;margin: 0px auto;}
        .header {width: 50%; margin: 0px auto;padding-top: 42px; padding-bottom: 100px;}
        .left-col {float: left;}
        .right-col {float: right;text-align: right;font-family: 'Bw Modelica';font-size: 10px;font-style: normal;font-weight: 500;line-height: 45px;letter-spacing: 0em;text-align: left;}
        .banner {margin: 0px auto; width: 50%;}
        .content {width: 45%; margin: 0 auto;font-size: 18px;font-style: normal;font-weight: 500;line-height: 30px;letter-spacing: 0em;}
        .content strong {text-align: center;border-radius: 5px;padding: 10px;font-size: 40px;}
        .footer {width: 100%; padding: 20px;background: #F9F9F9;}
        .footer-container {width: 50%;margin: 0 auto;}
        .footer-left-col {float: left;width: 50%;}
        .footer-left-col span {font-family: 'Bw Modelica';font-size: 4px;font-style: normal;letter-spacing: 0em;margin-left:30px; display: block;line-height: 0px;}
        .footer-left-col .text {margin-top:50px;font-family: 'Bw Modelica';font-size: 10px;font-style: normal;font-weight: 500;line-height: 15px;letter-spacing: 0em;text-align: left;}
        .footer-right-col {float: right;width: 50%; text-align: right;}
        .copyright {font-family: 'Bw Modelica';font-size: 7px;font-style: normal;font-weight: 500;line-height: 18px;letter-spacing: 0em;text-align: left;}
        @media screen and (max-width: 630px) {
            .header {width: 90%; margin: 0px auto; text-align: center;}
            .left-col {float: none; text-align: center;}
            .right-col {float: none; text-align: center;}
            .banner {width: 90%; text-align: center;}
            .content {width: 80%;font-size: 15px;}
            .footer {text-align: center;padding: 20px 0px;}
            .footer-left-col {float: none;width: 100%; text-align: center;margin-left:0px;}
            .footer-left-col span {display: none;}
            .footer-left-col .text {text-align: center}
            .footer-left-col image {text-align: center;}
            .footer-right-col {float: none;width: 100%;text-align: center;}
            .copyright {text-align: center;}
        }
    </style>
</head>

<body>
<div class=".container">
    <div class="header">
        <div class="left-col">
            <p> WELCOME</p>
        </div>
        <div style="clear: both;"></div>
    </div>
